*{padding: 0;
margin: 0;
box-sizing: border-box;}

/* .heading{
  text-align: center;
  color: blueviolet;
  font-family: 'Libre Franklin', sans-serif;
} */

/* div img{
  display: flex;
  justify-content: center;
  
} */
body{

  background-image: linear-gradient(to right, #23074d, #cc5333 );
}

div .box1{
  display: flex;
  justify-content: center;
  position: relative;
  top: 15rem;
  
}